@model Registration;
@{
    ViewData["Title"] = "RegProcess";
}

<h1>Welcome, @Model.FirstName @Model.LastName!
<br /> <br />
Thank you for the registration! We will contact to you with @Model.Email in shortly!
</h1>

