@{
    ViewData["Title"] = "Home Page";
}
<style>
        body
        {
       
            background-image:url('img/coffee.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

<style>

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

</style> 

<div class="text-center">

 
    <h1 
    style="  color:blue;  font-weight:bold;  font-family:'Bungee Spice', cursive; "
    color: darkblue;
    font-family: Roboto;
    font-weight:big;
    margin: 6px;
    font-size:200px;
    >
    <br />
    <br />
    <br />
    <br />
    <br />
  
                     Welcome to the Coffee Shop!
    </h1>
    <br /> 
    <p><a  < href="/reg/registration">Registration! </a></p>
  
</div>

